{% include 'incl/header.twig' %}

{% include 'incl/nav.twig' %}

    <body>
        <div class="main" role="main">
            {{ content }}
        </div>
    </body>

{% include 'incl/footer.twig' %}

</html>
