{% include 'incl/header.twig' %}

<body>
    {% include '.nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
            {% include '.technologies.twig' %}
        </div>
    </div>
</body>

{% include '.footer.twig' %}

</html>
