<div class="about">
    <div>
        <box>
            <h1> About this course </h1>
            <ul>
                <li><p> We are using: </p></li>
                <li> HTML </li>
                <li> Markdown</li>
                <li> Github </li>
                <li> Node </li>
                <li> CSS/SCSS </li>
                <li> SASS</li>
            </ul>

            <h1> TIL </h1>
            <ul>
                <li>KMOM01</li>
                    <p> Grunderna i twig och uppsättning av labbmiljön. Git tog ett tag att få rätt så blev inte mycket kvar till egen styling. 
                    Nyttiga kommandon: <code> ctrl+shift+del </code>, git force pull, <p> 
                <li> KMOM02 </li>
                    <p> Fortsättning på vår grundläggande layout, vi har börjat titta på SCSS/SASS och .twig. Det är svårt att navigera och urtyda den genererade kodmassan emellanåt.
                    Jag har skaffat en "plastanka", det hjälper - tro det eller ej. Vi har även testat att läsa in fonter och ikoner från URL genom importkommando, mycket fria resurser.
                    Det känns som att boxar i olika storlekar är grundbyggstenen till allt, då måste man lära sig placera ut dem och stanna där. Inte lätt.
                    </p>
            </ul>
        
        <div>
            <p>
                Här skulle man kunna länka till något eller ha grafik.
            </p>
        </div>
    </div>
</div>