/* Style */
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'blockquotes';
@import 'code';
@import 'variables';
@import './Darktheme/variables-dark';
@import 'footer';
@import 'technology';

/* All */ 
* {
  margin: 0;
  padding: 0;
  color: $font-color1;
  font-family: $font-family;
}

/* Elements */
html {
  background-color: $main-background-color;
  font-size: 100%;
  height: 100%;
  width: 100vw;
  letter-spacing: 1px;
}

body {
  background-color: $main-background-color;
  line-height: 1.4;
  //height: 100vh; replaced durign centering
}

header {
  height: 0;
  line-height: 1.4;
}

footer {
  background-color: $frame-color;
}

h1 {
  font-size: 1em;
  margin-bottom: 2em;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

/* --------- CLASSES ----------- */
/* --------------- Layout --------------- */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px 600px 200px;
}

.head {
  background-color: $frame-color;
  display: grid;
}

.header,
.footer,
.side-bar {
  padding: 1em;
  border: 3px solid $border1;
}

.main {
  padding: 1em;
  border: 3px solid $border1;

  @media screen and (max-width: 960px) {
    .main {
      grid-gap: 5px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'top-left' 'top-right' 'bottom';
    }
  }
}

.footer {
  background-color: $frame-color;
}

/* --------------- Head ------------------ */
.nav {
  background-color: $frame-color;
  align-content: center;
  display: grid;
  grid-template-columns: 200px 200px auto;
  grid-template-rows: 200px;
}

.logo {
  background-color: $frame-color#567997;
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  align-items: center;
}

.title {
  background-color: $frame-color;
  font-size: xx-large;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  align-items: center;
  align-self: center;
}

.navbar {
  align-self: center;
  background-color: $frame-color;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  font-size: xx-large;
  align-content: left;
  align-items: left;
}

/* --------------- Header ---------------- */
.header {
  background-color: $frame-color;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  align-items: center;
}

/* --------------- Main  --------------- */
.main {
  background-color: $main-background-color;
  grid-column: 2 / 2;
  grid-row: 2 / 3;
  grid-gap: 25px;
  grid-template-areas: 'top-left top-right' 'bottom bottom';
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
