/* Variables */

$accent-color: #aebece;
$background-color: #919dac;
$background-alternative-color: #b0d3d1;
$font-color: #1e5275;
$font-alternative-color: #a6d7f7;
$font-family: 'Marvel', sans-serif;
