/* Variables-dark */

/* Color scheme */
$dark-main-background-color: #94191536;
$dark-secondary-background-color: #94191596;
$dark-passive-background-color: #166b8f41;

$dark-frame-color: #94191596;
$dark-sidebar-color: #166b8f41;

$dark-font-color1: #2369877f;
$dark-font-color2: #8fd3f17f;

$dark-border1: #166b8f41;
$dark-border2: #94191536;
