/* Variables */

$accent-color: #aebece;
$background-color: #919dac;
$background-alternative-color: #aebfcecc;
$font-color: #1e5275;
$font-alternative-color: #aebece;
$font-family: 'Marvel', sans-serif;
$kmom02color: rgb(173, 216, 230);
$kmom03color: rgb(173, 216, 230);
$commonValue: 5 em;
$boxColor: #406583;
