/* Variables for style */

/* Commons */
$common-value: 5 em;

// KMOM
$kmom02color: rgb(173, 216, 230);
$kmom03color: rgb(173, 216, 230);

/* Color scheme - monochrome */
// Header and footer style
$frame-color: #406583;
$passive-frame-color: #5e7080;

// Background of content and objects
$main-background-color: #919dac;
$alternative-background-color: #aebece;
$passive-background-color: #aebfcecc;

// Borders
$border1: #5e7080;
$border2: #406583;

// Accent colors
$accent-color1: #bb92ce; 
$accent-color2: rgba(53, 48, 97, 0.982);

/* Site objects */
// Technologies landing
$box-color: #fff;
$side-bar: #5e7080;

// Fonts
$font-family: 'Marvel', sans-serif;
$font-alternative-color: #aebece;

// Font-color
$font-color1: #1e5275;
$font-color2: rgb(91, 140, 155);

// Font classes
.marvel-regular {
  font-family: 'Marvel', sans-serif;
  font-weight: 400;
  font-style: normal;
}
    
.marvel-bold {
  font-family: 'Marvel', sans-serif;
  font-weight: 700;
  font-style: normal;
}
    
.marvel-regular-italic {
  font-family: 'Marvel', sans-serif;
  font-weight: 400;
  font-style: italic;
}
    
.marvel-bold-italic {
  font-family: 'Marvel', sans-serif;
  font-weight: 700;
  font-style: italic;
}
