<div class="wrapper">
    <head>
        <div class="header">
            {% include 'incl/header.twig' %}

            {% include 'incl/nav.twig' %}
        </div>
    </head>

    <div class="main" role="main">
        {{ content }}
    </div>

    <div class="footer">
        {% include 'incl/footer.twig' %}
    </div>
</div>

</html>
