{% include 'incl/header.twig' %}

<body>
    <div class="maintechnology" role="main">
        <div class="side-bar">
            <h2>Meny</h2>
            {% for page in pages("technology") %}
                <a href="{{ page.url }}">{{ page.title }}</a>
        {% endfor %}
        </div>

        <article class="techarticle">
            {{ content }}
        </article>

    </div>
    {% include 'incl/footer.twig' %}

</body>

</html>
