
<div class="main" role="main">

    {% include 'incl/header.twig' %}

    {% include 'incl/nav.twig' %}
    <div class="wrapper">
        <div class="landingpage">
            {{ content }} 
        </div>

        </div>
            {% include 'incl/footer.twig' %}
    </div>
</div>

</html>
